<div id="game-container" phx-hook="ValidationMessageHandler" class="flex flex-wrap items-top justify-center w-screen">
  <div id="guess-reveal" phx-hook="GuessRevealAnimation">
    <.live_component
      module={WerdleWeb.GameBoard.GridComponent}
      id="input-grid"
      changeset={@changeset} />
  </div>
  <.live_component
    module={WerdleWeb.GameBoard.KeyboardComponent}
    id="keyboard"
    keyboard_backgrounds={@keyboard_backgrounds} />
</div>
