@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.shake-element {
    animation: shake 0.4s 1;
}
  
@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    35% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    65% { transform: translateX(5px); }
    80% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.flip-cell {
    animation: shrink-vertical 0.5s 1;
}

@keyframes shrink-vertical {
    0% { transform: scaleY(1); }
    50% { transform: scaleY(0); }
    100% { transform: scaleY(1); }
}
  